.toggle-theme-button-dark {
  z-index: 4000;

  position: fixed;
  left: 1rem;
  top: 1.2rem;
  padding: 0.5rem 1rem;
  width: 3rem;
  font-family: "Montserrat", monospace;
  background-color: rgba(0, 0, 0, 0.219);
  cursor: pointer;

  color: white;
  border: 2px dashed rgb(141, 141, 141);
}
.toggle-theme-button-dark:hover {
  background-color: #dfdfdf;
  color: rgb(0, 0, 0);
  border: 2px dashed rgb(49, 49, 49);
  transition: 500ms;
}
.toggle-theme-button-light {
  z-index: 4000;

  position: fixed;
  left: 1rem;
  top: 1.2rem;
  padding: 0.5rem 1rem;
  width: 3rem;
  font-family: "Montserrat", monospace;
  background-color: rgba(255, 255, 255, 0.322);
  cursor: pointer;

  color: rgb(0, 0, 0);
  border: 2px dashed rgb(49, 49, 49);
}
.toggle-theme-button-light:hover {
  background-color: black;
  color: rgb(196, 196, 196);
  border: 2px dashed rgb(219, 219, 219);
  transition: 500ms;
}
